In [1]:
import andes
import pandapower as pp
from jams import dcbase, dcopf, rted, rted2

from andes.interop.pandapower import build_group_table, add_gencost, make_GSF
from andes.interop.pandapower import to_pandapower, add_gencost

import numpy as np
import pandas as pd

In [2]:
print(andes.__version__)
print(pp.__version__)

1.7.2.post261.dev0+g4cc576a1
2.8.0

In [3]:
case = andes.get_case('ieee14/ieee14_ac8b.xlsx')
case = '/Users/jinningwang/Documents/work/andes/jwang/case/ieee39_ev2.xlsx'
ssa = andes.load(case,
                 setup=True,
                 no_output=True,
                 default_config=False)

Generating code for 1 models on 8 processes.

### Test load ``from_andes()``

In [4]:
ssdc = dcopf(name="DCOPF", OutputFlag=0)
ssdc.from_andes(ssa)

Set parameter Username
Academic license - for non-commercial use only - expires 2023-04-08

### Test ``solve()``

In [5]:
ssdc.solve()

DCOPF GB model is loaded.
DCOPF is solved.
DCOPF: total cost=58.564

         gen      pg
0       PV_1   6.164
1       PV_2   1.500
2       PV_3   1.000
3       PV_4   1.000
4       PV_5   1.000
5       PV_6   8.000
6       PV_7   7.000
7       PV_8   7.000
8       PV_9  10.000
9      PV_10   0.900
10  Slack_10  15.000

### Test ``diagnostic``

In [6]:
ssdc.load.p0 *= 4
ssdc.diagnostic()

DCOPF diagnostic process:
Overload by 149.47%.
DCOPF GB model is loaded.
DCOPF: total cost=93.702
Scale load to 40.0% CAN address it.
DCOPF IISConstrs: [<gurobi.Constr pb>]
DCOPF IISUB: [<gurobi.Var pg[PV_1]>, <gurobi.Var pg[PV_2]>, <gurobi.Var pg[PV_3]>, <gurobi.Var pg[PV_4]>, <gurobi.Var pg[PV_5]>, <gurobi.Var pg[PV_6]>, <gurobi.Var pg[PV_7]>, <gurobi.Var pg[PV_8]>, <gurobi.Var pg[PV_9]>, <gurobi.Var pg[PV_10]>, <gurobi.Var pg[Slack_10]>]

True

In [7]:
ssdr = rted(name="RTED", OutputFlag=0)
ssdr.from_andes(ssa)

In [8]:
ssdr.solve()

Missing data: ['cost', 'cost.cru', 'cost.crd', 'cost.sfrur', 'sfrdr']
RTED GB model is loaded.
RTED is solved.
RTED: total cost=58.564

         gen      pg  pru  prd   bu   bd
0       PV_1   6.164  0.0  0.0  0.0  0.0
1       PV_2   1.500  0.0  0.0  0.0  0.0
2       PV_3   1.000  0.0  0.0  0.0  0.0
3       PV_4   1.000  0.0  0.0  0.0  0.0
4       PV_5   1.000  0.0  0.0  0.0  0.0
5       PV_6   8.000  0.0  0.0  0.0  0.0
6       PV_7   7.000  0.0  0.0  0.0  0.0
7       PV_8   7.000  0.0  0.0  0.0  0.0
8       PV_9  10.000  0.0  0.0  0.0  0.0
9      PV_10   0.900  0.0  0.0  0.0  0.0
10  Slack_10  15.000  0.0  0.0  0.0  0.0

In [9]:
ssdr.load.p0 *= 4
ssdr.diagnostic()

RTED diagnostic process:
Overload by 149.47%.
RTED GB model is loaded.
RTED: total cost=93.702
Scale load to 40.0% CAN address it.
RTED IISConstrs: [<gurobi.Constr pb>]
RTED IISUB: [<gurobi.Var pg[PV_1]>, <gurobi.Var pg[PV_2]>, <gurobi.Var pg[PV_3]>, <gurobi.Var pg[PV_4]>, <gurobi.Var pg[PV_5]>, <gurobi.Var pg[PV_6]>, <gurobi.Var pg[PV_7]>, <gurobi.Var pg[PV_8]>, <gurobi.Var pg[PV_9]>, <gurobi.Var pg[PV_10]>, <gurobi.Var pg[Slack_10]>]

True

In [10]:
ssdr2 = rted2(name="RTED", OutputFlag=0)
ssdr2.from_andes(ssa)

In [11]:
[gen_idx, prumax, prdmax] = [['PV_10'], [0], [0]]

ssdr2.def_type2(gen_idx, prumax, prdmax)

In [12]:
ssdr2.build()
ssdr2.mdl.optimize()

Missing data: ['cost', 'cost.cru', 'cost.crd', 'cost.sfrur', 'sfrdr']
RTED GB model is loaded.

In [17]:
ssdr2.prdmax

{'PV_10': <gurobi.Constr prdmax[PV_10]>}

In [14]:
ssdr2.solve()

RTED GB model is loaded.
RTED is solved.
RTED: total cost=58.564

         gen      pg  pru  prd   bu   bd
0       PV_1   6.164  0.0  0.0  0.0  0.0
1       PV_2   1.500  0.0  0.0  0.0  0.0
2       PV_3   1.000  0.0  0.0  0.0  0.0
3       PV_4   1.000  0.0  0.0  0.0  0.0
4       PV_5   1.000  0.0  0.0  0.0  0.0
5       PV_6   8.000  0.0  0.0  0.0  0.0
6       PV_7   7.000  0.0  0.0  0.0  0.0
7       PV_8   7.000  0.0  0.0  0.0  0.0
8       PV_9  10.000  0.0  0.0  0.0  0.0
9      PV_10   0.900  0.0  0.0  0.0  0.0
10  Slack_10  15.000  0.0  0.0  0.0  0.0